.pager__page_type_features .pager__page-content {
    max-width: 1134px;
}

.features {
    display: flex;
    height: 100%;
}

.features__item {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.features__item h3 {
    font-size: 42px;
    line-height: 1.1;
    letter-spacing: 0.4px;
    font-weight: normal;
    margin: 26px 0 16px;
    padding: 0;
}

.features__item p {
    margin: 0;
    font-size: 19px;
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: 0.2px;

    font-family: 'PT Sans', sans-serif;
}

.features__item-icon {
    text-align: center;
}

@media all and (max-width: 1239px) {
    .features {
        flex-direction: column;
    }
    .features__item {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }
    .features__item-info {
        margin-left: 50px;
        max-width: 345px;
    }
    .features__item img {
        width: 194px;
    }
    .features__item h3 {
        font-size: 32px;
        line-height: 1.13;
        margin: 0 0 10px;
    }
    .features__item p {
        line-height: 1.33;
        font-size: 18px;
    }
}

@media all and (max-width: 767px) {
    .features {
    }
    .features__item {
        padding: 15px 0px;
    }
    .features__item-info {
        margin-left: 12px;
    }
    .features__item-icon {
        width: 110px;
    }
    .features__item img {
        height: 90px;
        width: auto;
    }
    .features__item h3 {
        font-size: 16px;
        line-height: 1.13;
        letter-spacing: 0.2px;
        margin: 0 0 3px;
    }
    .features__item p {
        line-height: 1.25;
        font-size: 12px;
        letter-spacing: 0.2px;
    }
}

