.pager__page_type_intro {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.08));
    border-top: 20px solid #e42828;

    height: 100%;
}
.pager__page_type_intro .pager__page-content {
    padding-bottom: 48px;
    height: 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 0 auto;
    padding: 20px 20px 0;
}
.logo__img {
    vertical-align: top;
    width: 100%;
    transform: translateY(-60%);
    top: 50%;
    position: relative;
}

.intro {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}
.intro__media {
    height: 100%;
    position: relative;
    white-space: nowrap;
}
.intro__iphone-pic {
    margin-left: 5.5%;
    position: relative;
    width: auto;
    height: 100%;
    z-index: 1;
}
.intro__nexus-pic {
    transform: translateX(-25%);
    top: 7.5%;
    width: auto;
    height: 85%;
    position: relative;
    vertical-align: top;
}
.intro__info h2 {
    line-height: 0.89;
    letter-spacing: -0.1px;
    color: #ffffff;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.intro__info h2 + .app-links {
    margin: 22px auto 44px;
    white-space: nowrap;
}

@media all and (min-width: 1240px) {
    .pager__page_type_intro {
        min-height: 650px;
    }
    .pager__page_type_intro .pager__page-content {
        max-width: 940px;
    }
    .logo {
        height: 33%;
        width: 358px;
        min-height: 160px;
    }
    .intro__info h2  {
        font-size: 76px;
    }
    .intro__info h2 + .app-links {
        margin: 44px auto;
    }
    .intro__media {
        max-height: 520px;
        width: 50%;
        text-align: right;
    }
}

@media all and (max-width: 1239px) {
    .pager__page_type_intro {
        min-height: 690px;
    }
    .logo {
        width: 340px;
        min-height: 144px;
        height: 20%;
    }
    .intro {
        flex-direction: column-reverse;
        text-align: center;
        max-height: 690px;
        min-height: 470px;
        margin: auto;
    }
    .intro__info {
        height: 30%;
        min-height: 190px;
    }
    .intro__info h2 {
        font-size: 58px;
        line-height: 1.17;
    }
    .intro__media {
        max-height: calc(100% - 190px);
        height: 70%;
        width: 100%;
        text-align: center;
    }
    .intro__iphone-pic {
        margin-left: 5.5%;
    }
}

@media all and (max-width: 767px) {
    .pager__page_type_intro {
        border-top-width: 16px;
        min-height: 500px;
        max-height: 735px;
    }
    .pager__page_type_intro .pager__page-content {
        padding-bottom: 18px;
    }
    .logo {
        padding-top: 10px;
        width: 180px;
        min-height: 114px;
        object-fit: contain;
    }
    .intro {
        max-height: 70%;
        min-height: 300px;
        margin: auto;
    }
    .intro__info {
        padding-top: 14px;
        height: 30%;
    }
    .intro__info h2 {
        width: 190px;
        font-size: 34px;
        line-height: 0.88;
        letter-spacing: 0.3px;
        margin: 0 auto;
    }
    .intro__info h2 + .app-links {
        margin-top: 28px;
    }
}
