.pager__page_type_outro {
    background: #f7f7f7;
}

.pager__page_type_outro .pager__page-content {
    flex-grow: 1;
    display: flex;
    width: 100%;
    padding: 0;
}

.outro {
    text-align: center;
    margin: auto;
    padding: 0 20px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.outro:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f7f7f7 url(../../assets/images/bg/4-large.svg) center;
    background-size: 3000px 484px;
    z-index: -1;
}

.outro h2 {
    font-size: 72px;
    font-weight: normal;
    padding: 0;
    line-height: 1.11;
    letter-spacing: 0.6px;
    color: #e42828;
}

.outro h2,
.outro .app-links {
    margin: 100px auto;
}

.outro .app-links img {
    width: 194px;
}

.outro .app-links img + img {
    margin-left: 12px;
}

.footer {
    background: url(../../assets/images/bus.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    min-height: 530px;
    flex-grow: 2;
    flex-basis: 50%;
    text-align: center;
    border-bottom: #e42828 20px solid;
    border-top: #3092f9 4px solid
}

.footer__inner {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50px;
    bottom: 0;
    transform: translateX(-50%);
    max-width: 780px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: left;
    background: url(../../assets/images/hand-with-iphone.png) right bottom no-repeat;
    background-size: contain;
}

.footer__contacts {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.footer__contacts li {
    display: inline-block;
}

.footer__contacts li + li {
    margin-left: 30px;
}

.footer__contacts svg {
    width: 64px;
}

.footer__contacts .stroke,
.footer__contacts .fill {
    transition: all .2s;
}

.footer__contacts li:hover .stroke {
    stroke: #e42828;
}

.footer__contacts li:hover .fill {
    fill: #e42828;
}

.copyright {
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-family: Roboto, "PT Sans", serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

@media all and (max-width: 1019px) {
    .outro:before {
        width: 1020px;
        height: 350px;
        background: url(../../assets/images/bg/4.svg) no-repeat;
    }
}
