@font-face {
    font-family: FuturaNewDemi;
    src: url("../assets/fonts/FuturaNewDemi.otf") format("opentype");
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: FuturaNewDemi, 'PT Sans', sans-serif;
    background: #e42828;
}

.pager {
    z-index: 1;
}

.pager__page {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.pager__page-content
{
    padding: 20px;
    margin: auto;
}

@media all and (max-width: 767px) {
    .pager__page-content {
        padding: 16px;
    }
}
