.pager__page_type_outro .pager__page-content {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    width: 100%;
    padding: 0;
    background: #f7f7f7;
}

.outro {
    backface-visibility: hidden;
    text-align: center;
    margin: auto;
    padding: 0 20px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background: url(../../assets/images/bg/4-large.svg) center;
    background-size: 3000px 484px;
}

.outro h2 {
    font-size: 72px;
    font-weight: normal;
    padding: 0;
    line-height: 1.11;
    letter-spacing: 0.6px;
    color: #e42828;
}

.outro h2,
.outro .app-links {
    margin: 100px auto;
}

.outro .app-links {
    margin: 100px auto;
    white-space: nowrap;
}

.outro .app-links img {
    width: 194px;
}

.outro .app-links img + img {
    margin-left: 12px;
}

.footer {
    box-sizing: border-box;
    background: url(../../assets/images/bus.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 530px;
    flex-grow: 2;
    flex-basis: 50%;
    text-align: center;
    border-bottom: #e42828 20px solid;
    border-top: #3092f9 4px solid
}

.footer__inner {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: left;
    background: url(../../assets/images/hand-with-iphone.png) right bottom no-repeat;
    background-size: contain;
}

.footer__contacts {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.footer__contacts li {
    display: inline-block;
}

.footer__contacts li + li {
    margin-left: 30px;
}

.footer__contacts svg {
    width: 64px;
}

.footer__contacts .stroke,
.footer__contacts .fill {
    transition: all .2s;
}

.footer__contacts li:hover .stroke {
    stroke: #e42828;
}

.footer__contacts li:hover .fill {
    fill: #e42828;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 12px;
    left: 0;
    text-align: center;
    color: #fff;
    font-family: Roboto, "PT Sans", serif;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

@media all and (max-width: 1019px) {
    .outro {
        background-image: url(../../assets/images/bg/4.svg);
        background-size: 1020px 350px;
    }
}

@media all and (min-width: 768px) {
    .footer__inner {
        position: absolute;
        left: 50%;
        top: 50px;
        bottom: 0;
        transform: translateX(-50%);
        max-width: 728px;
    }
}

@media all and (max-width: 767px) {
    .outro {
        background-image: url(../../assets/images/bg/4.svg);
        background-size: 1020px 350px;
        padding: 0 16px;
    }
    .outro h2 {
        line-height: 1.21;
        letter-spacing: 0.2px;
        font-size: 28px;
    }
    .outro h2, .outro .app-links {
        margin: 36px auto;
    }
    .outro .app-links img {
        width: 136px;
    }

    .outro .app-links img + img {
        margin-left: 12px;
    }
    .footer {
        height: 379px;
        border-bottom-width: 0;
        border-top-width: 2px;
        flex-grow: 0;
    }
    .footer__inner {
        background-position: 70% bottom;
        background-size: 180px 288.6px;
        height: 100%;
        max-width: 320px;
    }
    .footer__contacts {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 30px 0 25px;
    }
    .footer__contacts li + li {
        margin-left: 16px;
    }
    .footer__contacts svg {
        width: 32px;
    }
    .copyright {
        font-size: 8px;
        padding-bottom: 8px;
        border-bottom: #e42828 16px solid;
    }
}
